body {
  /* padding: 10px; */
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: #36454f; */
  background-color: #2c2f33;
margin: 0;
  color:white;
  position: relative;
}

.big-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-family: 'Caveat', cursive;
font-size: 4rem;
margin-top: 3rem;
display: flex;
margin-bottom: 2rem;
}
#flex-container{
  display: flex;
  justify-content: center;
  margin:10px;
  margin-bottom: 15px;
}

.video-drawing{
  display: flex;
}

.header{
  display: flex;
  justify-content: center;
  margin:10px;
  margin-bottom: 15px;
  position: relative;
  width: 70%;
}

.download{
  position: absolute;

  right: 0;
}
#sheet{
  border: solid 2px black;
  background-color: white;
}
.round-button{
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.round-button:hover{
  opacity: 80%;
}
.red{
  background-color: red;
  border: 1px solid crimson;
}
.green{
  background-color: green;
  border: 1px solid mediumseagreen;
}
.blue{
  background-color: blue;
  border: 1px solid midnightblue;
}
.selected{
  border: solid 3px white;
}

.pink{
  background-color: pink;
  border: 1px solid rgb(164, 123, 130);
}
.purple{
  background-color: #9033FF;
  border: 1px solid #581da0;
}
.orange{
  background-color: #FF9633;
  border: 1px solid #a66120;
}
.cyan{
  background-color: #33ECFF;
  border: 1px solid #2199a7;
}
.yellow{
  background-color: #FFF633;
  border: 1px solid #b9b229;
}

.color-choice{
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  /* justify-content: center; */
  width: 60%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.color-container{
  display: flex;
  margin: 0 auto;
  align-items: center;
  grid-area: 2rem;
  justify-content: center;
  justify-content: space-between;
  width: 80%;
}

.export-button{
  cursor: pointer;
  margin-right: 1rem;
}


/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #ffffff;
  cursor: pointer;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #ffffff00;
  outline-offset: .6em;
  font-size: 16px;
margin: 1rem;
  border: 0;
  font-size: 1.5rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Patrick Hand', cursive;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

#resetCanvasButton {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #ffffff;
  cursor: pointer;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #ffffff00;
  outline-offset: .6em;
  font-size: 16px;
margin: 1rem;
  border: 0;
  font-size: 1.5rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Patrick Hand', cursive;
}

#resetCanvasButton:hover,
#resetCanvasButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#resetCanvasButton:active {
  background: var(--color);
  color: #fff;

}


#theimage{
  height: 1700px;
  width: 750px;

}



.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: #1f2224;
  width: 12%; /* Adjut the width as needed */
  transition: width 0.3s ease; /* Add a smooth transition */
}
.nav-bar{
  display: flex;

  top: 0;
  flex-direction: column;
  height: 100vh;
  /* width: 10%; */
  background-color: #1f2224;

  margin-right: 2rem;
  gap: 10vh;
  font-size: 2rem;
  padding: 2rem;
  margin: 0;



} 

/* Hide the sidebar by default */
.sidebar.collapsed {
  width: 0;
}

/* Add styles for when the sidebar is collapsed */
.sidebar.collapsed .nav-bar {
  display: none;
}


.drawing-cont{
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#drawing-material{
  margin-left: 10vw;
}
#download-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;

}

#btn-capture-screen{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

#start{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}
#stop{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}


.download-video{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

#photo-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  margin: 0;
  color: white;;
}



.nav-items{
display: flex;
  color: white;
  /* color: #2199A7; */
  cursor: pointer;
}
/* 
.nav-items:hover{
  transform: scale(1.2);
  color: #2199A7;
} */

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon {
  margin-right: 1rem;
}

.menu-icon{
  /* justify-content: center;
  text-align: center; */
  margin: 0 auto;
  cursor: pointer;
  margin: 2rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

